@font-face {
  font-family: 'trellicons';
 
  src: url('https://a.trellocdn.com/prgb/dist/fonts/trellicons.a1f4011d1bed8adea123.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
